@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.body0
{
    margin: 0;
    height: 100vh;
    background-image: url("../images/masala.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Anton', sans-serif;

}

.article h1, .article a, .nav, .nav1, .nav2

{
    padding: 10px;
}

.nav a
{
    padding: 10px;
    color: white;
}

.nav1 a
{
    padding: 10px;
    color: black;
}
.nav2 a
{
    padding: 10px;
    color: black;
}
.article h1
{
    color: black;
    font-size: 50px;
}
.article a
{
    color: white;
    background-color:chocolate ;
    text-decoration: none;
    margin: 10px;
    font-size: 30px;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
}

.article a:hover
{
    background-color: black;
}

/* Inscription */

.body1
{
    margin: 0;
    height: 100vh;
    background-image: url("../images/cooki.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Anton', sans-serif;

}
/* Connexion */

.body2
{
    margin: 0;
    height: 100vh;
    background-image: url("../images/AfriknFusion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Anton', sans-serif;

}

/* Profil-index */

.profil_index_a a
{
    color: white;
    background-color: chocolate;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 10px;
    text-decoration: none;
    display: block;
    flex-direction: column;
    border-radius: 5px;
}
.profil_index_a a:hover
{
    background-color: black;
}


.profil_index_a h1
{
    color: white;
}

.profil_index_a
{
    background-color: black;
    width: 800px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right:auto ;
    text-align: center;
    padding: 30px;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
}

.profil_index_a p
{
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}


.body3
{
    margin: 0;
    height: 100vh;
    background-image: url("../images/market.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Anton', sans-serif;

}

/* Profil */

.body4
{
    margin: 0;
    height: 100vh;
    background-image: url("../images/platter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Anton', sans-serif;

}

.form
{
    background-color: black;
    color: white;
    padding: 30px;
    width: 470px;
    height: 470px;
    text-align: center;
    display:block;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.42);
}


input
{
    margin: 10px;
}
.profil
{
    text-align: center;
    padding: 20px;

}

.profil a
{
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin: 10px;
}

.profil a:hover
{
    color: chocolate;
}

/* Discussion */

.flex1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
}

.flex1 img
{
    height: 750px;
}
.scroll
{
    height: 500px;
    width: 800px;
    overflow-y: scroll;
    background-color: black;
    padding: 20px;
    border-top: 1px solid white;

    /* scroll-behavior: smooth; */
    /* scroll-snap-type: y mandatory; */
}

.date
{
    color: black;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;

}
span
{
    color: chocolate;
    font-size: 20px;
}
.span
{
    font-size: 50px;
}
.scroll h1
{
    font-size: 40px;
}

/*Discussion*/

.body5
{
    margin: 0;
    height: 100vh;
    /* background-image: url("../images/sardines.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    color: white;
    font-family: 'Anton', sans-serif;

}

.form_discussion
{
    padding: 20px;
}

.background
{
    background-color: white;
    border-radius: 8px;
}
.message
{
    font-size: 14px;
    padding: 5px;
    margin: 5px;
    color: black;
    font-family: 'Dosis', sans-serif;

}

textarea
{
    resize: none;
    border: 1px solid chocolate;
    margin: 10px;
    font-family: 'Dosis', sans-serif;
}

textarea::placeholder
{
    color: chocolate;
    font-family: 'Anton', sans-serif;

}

.submit
{
    border: none;
    padding: 12px;
    color: white;
    font-weight: bold;
    background-color: chocolate;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;

}

.submit1
{
    border: none;
    padding: 12px;
    color: white;
    font-weight: bold;
    background-color: chocolate;
    width: 30%;
    margin-right: 10px;
    border-radius: 5px;
}

input
{
    margin: 30px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    width: 70%;
    color: white;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

input::placeholder
{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

